#
#  Systemd script to Launch AMD Session agent
#

[Unit]
Description=Start the USER Access Control Agent

[Service]
ExecStartPre=-/usr/bin/mkdir -p -m go+x /run/aul/%U
ExecStartPre=-/usr/bin/chmod go+x /run/aul/%U
ExecStart=/bin/sh -l -c "/usr/bin/launchpad-process-pool"
Sockets=launchpad-process-pool.socket
