[Socket]
ListenStream=/run/aul/%U/.launchpad-process-pool-sock
DirectoryMode=0777
Service=launchpad-process-pool.service

[Install]
WantedBy=sockets.target
